quote-generator/target/
quote-generator/.settings/
quote-generator/.vertx/
quote-generator/.vscode/

quote-generator/.classpath
quote-generator/.project
quote-generator/.factorypath


micro-trader-dashboard/target/
micro-trader-dashboard/.settings/
micro-trader-dashboard/.vertx/
micro-trader-dashboard/.vscode/

micro-trader-dashboard/.classpath
micro-trader-dashboard/.project
micro-trader-dashboard/.factorypath


portfolio-service/target/
portfolio-service/.settings/
portfolio-service/.vertx/
portfolio-service/.vscode/

portfolio-service/.classpath
portfolio-service/.project
portfolio-service/.factorypath


compulsive-traders/target/
compulsive-traders/.settings/
compulsive-traders/.vertx/
compulsive-traders/.vscode/

compulsive-traders/.classpath
compulsive-traders/.project
compulsive-traders/.factorypath

audit-service/target/
audit-service/.settings/
audit-service/.vertx/
audit-service/.vscode/

audit-service/.classpath
audit-service/.project
audit-service/.factorypath

.git/
.settings/
.vscode/

.classpath
.project

